Repository Bas-Wolfswinkel/stammes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sh -c './vendor/bin/phpcbf --standard=phpcs.xml || true', ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: made new user role
  app/Providers/ThemeServiceProvider.php
Due: sh -c './vendor/bin/phpcbf --standard=phpcs.xml || true', ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

fix: hero 40px>32px lg: 79px>68px
  resources/views/partials/hero.blade.php
Due: prettier --write

fix: review slider & project grid
  app/Acf/PageFields.php
  app/Providers/ThemeServiceProvider.php
  config/app.php
  resources/scripts/app.ts
  resources/views/components/project-grid-item.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/project-lazy-loader.blade.php
  resources/views/partials/projects_grid.blade.php
  resources/views/partials/reviews.blade.php
Due: prettier --write, sh -c './vendor/bin/phpcbf --standard=phpcs.xml || true', ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

fix: emptied index
  resources/views/index.blade.php
Due: prettier --write

fix: hero 40px > 38px
  resources/views/partials/hero.blade.php
Due: prettier --write

feat: made header sticky
  .DS_Store
  package-lock.json
  public/content/db.php
  resources/.DS_Store
  resources/views/.DS_Store
  resources/views/sections/header.blade.php
  yarn.lock
Due: prettier --write

feat: added google maps
  resources/views/partials/contact_form.blade.php
Due: prettier --write

feat: made titles smaller
  resources/views/partials/hero.blade.php
  resources/views/partials/services.blade.php
  resources/views/partials/wij_zijn_stammes.blade.php
Due: prettier --write

fix: heading size
  resources/views/partials/services.blade.php
Due: prettier --write

fix: max width on main
  resources/views/layouts/app.blade.php
Due: prettier --write

fix: translate load more
  resources/views/livewire/project-lazy-loader.blade.php
Due: prettier --write

fix: changed per page for projects
  app/Livewire/ProjectLazyLoader.php
Due: sh -c './vendor/bin/phpcbf --standard=phpcs.xml || true', ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

Path conditions:
  prettier --write: (any of: *.blade.php) or (any of: *.{css,scss,js,ts})
  sh -c './vendor/bin/phpcbf --standard=phpcs.xml || true': any of: app/**/*.php
  ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php: any of: app/**/*.php
  ./vendor/bin/rector process --config=rector.php: any of: app/**/*.php
  ./vendor/bin/pint: any of: app/**/*.php
