Repository Bas-Wolfswinkel/stammes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

.lintstagedrc:

{
    "*.blade.php": "prettier --write",
    "*.{css,scss,js,ts}": "prettier --write",
    "app/**/*.php": [
        "./vendor/bin/phpcbf --standard=phpcs.xml",
        "./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php",
        "./vendor/bin/rector process --config=rector.php",
        "./vendor/bin/pint"
    ]
}

feat: register service post type
  app/Acf/ServiceFields.php
  config/post-types.php
Due: ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: address fields & composer
  app/Acf/ThemeSettingsContact.php
  app/View/Composers/Footer.php
Due: ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: responsive footer & fixed svg
  resources/images/icons/footer-top.svg
  resources/views/sections/footer.blade.php
  tailwind.config.ts
Due: prettier --write

feat: ACF custom color picker with presets & helper to get value
  app/Acf/PageFields.php
  app/helpers.php
Due: ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: colorpicker label arg & some contact page fields
  app/Acf/PageFields.php
Due: ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: wissiewig component & css imports
  resources/styles/app.css
  resources/styles/components/swiper.css
  resources/styles/components/wissiewig.css
  resources/styles/imports.css
  resources/styles/swiper.css
  resources/views/components/wissiewig.blade.php
Due: prettier --write

fix: typo
  app/Acf/ThemeSettingsContact.php
  app/View/Composers/Footer.php
  resources/views/sections/footer.blade.php
Due: prettier --write, ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: responsive contact page & form
  resources/styles/components/contact-page-form.css
  resources/styles/imports.css
  resources/views/partials/contact_form.blade.php
  resources/views/partials/vrijblijvend_contact.blade.php
  tailwind.config.ts
Due: prettier --write

fix: small footer fixes
  resources/styles/app.css
  resources/views/layouts/app.blade.php
  resources/views/sections/footer.blade.php
Due: prettier --write

feat: finished werkwijze page
  app/Acf/PageFields.php
  resources/styles/app.css
  resources/views/partials/onze_werkwijze.blade.php
  resources/views/partials/vrijblijvend_contact.blade.php
  resources/views/partials/wat_mag_u_verwachten.blade.php
  resources/views/partials/wat_mag_u_verwachten_usps.blade.php
Due: prettier --write, ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

fix: lineheight projecten block
  resources/views/partials/projecten.blade.php
Due: prettier --write

feat: our-team field
  app/Acf/PageFields.php
  resources/views/partials/our_team.blade.php
  tailwind.config.ts
Due: prettier --write, ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: mid section field
  app/Acf/PageFields.php
  resources/views/partials/mid_section.blade.php
  tailwind.config.ts
Due: prettier --write, ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: add todo.txt
  todo.txt
Due: none

feat/ref: ref title helper & add &shy; support
  app/helpers.php
Due: ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

fix: change configs
  .editorconfig
  .lintstagedrc
Due: none

feat: service fields
  .prettierrc
  app/Acf/PageFields.php
  resources/views/partials/services.blade.php
  tailwind.config.ts
Due: prettier --write, ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

fix: footer & remove its composer
  .prettierrc
  app/Acf/ThemeSettingsFooter.php
  app/View/Composers/Footer.php
  config/acf.php
  resources/views/partials/services.blade.php
  resources/views/sections/footer.blade.php
Due: prettier --write, ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

fix: delete service post-type
  config/post-types.php
Due: none

fix: made max-width input for hero title working
  package-lock.json
  resources/styles/app.css
  resources/views/partials/hero.blade.php
  yarn.lock
Due: prettier --write

fix: refactored pagefields
  app/Acf/PageFields.php
  app/Acf/ProjectFields.php
Due: ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: Include livewire
  app/Providers/ThemeServiceProvider.php
  composer.json
  composer.lock
Due: ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: finished projecten single
  app/Acf/PageFields.php
  app/Acf/ProjectFields.php
  app/helpers.php
  resources/scripts/app.ts
  resources/views/partials/project_details.blade.php
  resources/views/partials/projecten.blade.php
  resources/views/single-project.blade.php
Due: prettier --write, ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: added hero gradient
  resources/views/partials/hero.blade.php
Due: prettier --write

feat: made 404
  resources/views/404.blade.php
Due: prettier --write

feat: made new user role
  app/Providers/ThemeServiceProvider.php
Due: ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

fix: removed husky command
  package.json
Due: none

feat: unstyled project index w/lazy & pagination
  app/Acf/PageFields.php
  app/Livewire/ProjectLazyLoader.php
  config/post-types.php
  public/content/.DS_Store
  resources/views/livewire/project-lazy-loader.blade.php
  resources/views/partials/projects_grid.blade.php
Due: prettier --write, ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: review slider desktop
  app/Acf/PageFields.php
  app/Livewire/ProjectLazyLoader.php
  resources/images/icons/left-white.svg
  resources/images/icons/quote.svg
  resources/images/icons/right-white.svg
  resources/images/icons/star-empty.svg
  resources/images/icons/star.svg
  resources/scripts/app.ts
  resources/styles/components/swiper.css
  resources/styles/components/wissiewig.css
  resources/views/partials/reviews.blade.php
  tailwind.config.ts
Due: prettier --write, ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: responsive review slider
  app/Acf/PageFields.php
  app/Livewire/ProjectLazyLoader.php
  resources/images/icons/quote.svg
  resources/images/icons/star-empty.svg
  resources/images/icons/star.svg
  resources/views/components/project-grid-item.blade.php
  resources/views/livewire/project-lazy-loader.blade.php
  resources/views/partials/projects_grid.blade.php
  resources/views/partials/reviews.blade.php
  tailwind.config.ts
Due: prettier --write, ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint

feat: Include livewire
  app/Providers/ThemeServiceProvider.php
Due: ./vendor/bin/phpcbf --standard=phpcs.xml, ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php, ./vendor/bin/rector process --config=rector.php, ./vendor/bin/pint
